.header {
  width: 100%;
  height: 123px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
@media (max-width: 800px) {
  .header {
    display: none;
  }
}
.header .header_navigation {
  display: flex;
  align-items: center;
  margin-left: 72px;
}
@media (max-width: 1250px) {
  .header .header_navigation {
    margin-left: 20px;
  }
}
.header .header_navigation .header_logo {
  width: 70px;
  height: 70px;
  margin-right: 60px;
}
@media (max-width: 1250px) {
  .header .header_navigation .header_logo {
    margin-right: 20px;
  }
}
.header .header_navigation .navigation_anhor {
  font-size: 15px;
  text-decoration: none;
  font-family: "RobotoReg";
  color: #292D32;
  margin-right: 45px;
}
.header .header_navigation .navigation_anhor:hover {
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .header .header_navigation .navigation_anhor {
    margin-right: 20px;
    font-size: 12px;
  }
}
.header .header_navigation .navigation_search {
  margin-left: 5.74px;
}
.header .header_icons {
  display: inline;
  margin-right: 44px;
}
.header .header_icons .icon_item {
  margin-right: 26px;
  width: 49px;
  height: 49px;
}
.header .header_icons .icon_item:hover {
  filter: invert(0.2);
  cursor: pointer;
}
@media (max-width: 1050px) {
  .header .header_icons .icon_item {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
}
.header .header_icons .item_container-shop {
  display: inline;
  position: relative;
  text-align: center;
}
.header .header_icons .item_container-shop .icon_item-paragraph {
  position: absolute;
  top: -46px;
  right: 26px;
  font-size: 12px;
  width: 16px;
  height: 16px;
  text-decoration: none;
  font-family: "RobotoReg";
  color: #FFF;
  border-radius: 20px;
  background-color: #48A4EB;
}
@media (max-width: 1050px) {
  .header .header_icons .item_container-shop .icon_item-paragraph {
    top: -30px;
    right: 16px;
    font-size: 10px;
    width: 12px;
    height: 12px;
  }
}
.header .header_icons .icon_item-last {
  position: relative;
}

.header-small {
  height: 75px;
  padding-top: 15px;
  width: 100%;
  background-color: #FFFFFF;
  display: none;
}
@media (max-width: 800px) {
  .header-small {
    display: block;
  }
}
.header-small .header_logo {
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 15px;
}
.header-small .header_icons {
  display: flex;
  align-items: center;
  float: right;
  position: relative;
  top: 6px;
}
.header-small .header_icons:hover {
  filter: invert(0.2);
  cursor: pointer;
}
.header-small .header_icons .icon_item {
  margin-right: 15px;
}
.header-small .header_icons .icon_item-people {
  margin-right: 13px;
}
.header-small .header_icons .icon_item-wifi {
  margin-right: 13.4px;
}
.header-small .header_icons .icon_item-search {
  margin-right: 24.8px;
}
.header-small .header_icons .item_container-shop {
  display: inline;
  position: relative;
  text-align: center;
}
.header-small .header_icons .item_container-shop .icon_item-paragraph {
  position: absolute;
  top: -12px;
  right: 15px;
  font-size: 12px;
  width: 16px;
  height: 16px;
  text-decoration: none;
  font-family: "RobotoReg";
  color: #FFF;
  border-radius: 20px;
  background-color: #48A4EB;
}

.header_navigation-small {
  width: calc(100% - 38px);
  height: 331px;
  background-color: #fff;
  position: absolute;
  z-index: 12;
  top: 90px;
  left: -1000px;
  display: flex;
  flex-direction: column;
  padding-top: 59px;
  padding-left: 38px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.header_navigation-small .navigation_anhor {
  font-size: 15px;
  text-decoration: none;
  font-family: "RobotoReg";
  color: #292D32;
  margin-bottom: 45px;
}
.header_navigation-small .navigation_anhor:hover {
  font-weight: bold;
  cursor: pointer;
}

@font-face {
  font-family: "RobotoReg";
  src: url(/Assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoLight";
  src: url(/Assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "RobotoThin";
  src: url(/Assets/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: "RobotoBlack";
  src: url(/Assets/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(/Assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "EuclidBolt";
  src: url(/Assets/fonts/Euclid\ Circular\ A\ Bold.ttf);
}
@font-face {
  font-family: "EuclidLight";
  src: url(/Assets/fonts/Euclid\ Circular\ A\ Light.ttf);
}
/*button*/
.button_container {
  display: flex;
  align-items: center;
}
.button_container .button_label {
  margin-right: 17px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #292D32;
  letter-spacing: 0.8px;
}
.button_container:hover {
  cursor: pointer;
  transform: skew(-10deg);
}

/*input*/
.formRow {
  position: relative;
  width: 100%;
  border: none;
}
.formRow .formRow_input {
  width: 434px;
  height: 59.25px;
  border: 1.5px solid rgba(242, 242, 242, 0.5);
  background-color: #292D32;
  border-radius: 20px;
  color: #F2F2F2;
  text-align: center;
}
@media (max-width: 1400px) {
  .formRow .formRow_input {
    height: 40px;
  }
}
.formRow .formRow_placeholder {
  text-align: center;
  padding: 0 12.7px;
  position: absolute;
  background-color: #292D32;
  top: -11px;
  left: 15px;
  font-family: "RobotoLight";
  font-size: 18px;
  color: #F2F2F2;
}

/*textarea*/
.formRow_comment .formRow_input {
  height: 114.25px;
  width: 404px;
  padding: 15px;
}
@media (max-width: 1400px) {
  .formRow_comment .formRow_input {
    height: 80px;
  }
}
.formRow_comment .formRow_placeholder {
  top: -11px;
  left: 15px;
}

/*modal menu*/
.modal_menu {
  position: absolute;
  top: 123px;
  right: -1000px;
  width: 405px;
  height: 389px;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.modal_menu .menu_item-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-bottom: #F2F2F2 solid 1px;
}
.modal_menu .menu_item-container .container_item-menu {
  font-family: "RobotoReg";
  font-size: 20px;
  color: #000;
  margin-left: 20px;
}
.modal_menu .menu_item {
  font-family: "RobotoReg";
  font-size: 20px;
  color: #000;
  padding: 20px 0 20px 30px;
  border-bottom: #F2F2F2 solid 1px;
}
.modal_menu .menu_item-last {
  border-bottom: none;
}

.footer {
  width: 100%;
  height: 378px;
  background-color: #FFFFFF;
  position: relative;
  padding-top: 60px;
}
.footer .flexbox_container-katalog-small {
  display: none;
}
@media (max-width: 1250px) {
  .footer {
    height: 725px;
    padding-top: 30px;
  }
}
@media (max-width: 600px) {
  .footer {
    height: 720px;
  }
}
.footer .footer_flexbox {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 1210px;
  margin-left: calc(50% - 700px);
  align-items: flex-start;
  margin-bottom: 38px;
}
@media (max-width: 1420px) {
  .footer .footer_flexbox {
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: 1250px) {
  .footer .footer_flexbox {
    display: grid;
    grid-template-areas: "a  a" "b  c" "d  d";
  }
  .footer .footer_flexbox .flexbox_container-katalog {
    grid-template-areas: "b";
  }
  .footer .footer_flexbox .flexbox_container-personal {
    grid-template-areas: "c";
  }
  .footer .footer_flexbox .flexbox_container-help {
    grid-template-areas: "d";
  }
  .footer .footer_flexbox .flexbox_logo {
    grid-template-areas: "a";
  }
  .footer .footer_flexbox .flexbox_logo {
    width: 70px;
    height: 71.29px;
  }
}
@media (max-width: 600px) {
  .footer .footer_flexbox {
    display: block;
  }
  .footer .footer_flexbox .flexbox_container-katalog {
    display: none;
  }
  .footer .footer_flexbox .flexbox_container-katalog-small {
    display: block;
    position: relative;
    top: 187px;
    left: -23px;
  }
  .footer .footer_flexbox .flexbox_container-katalog-small .small_rideside {
    position: relative;
    float: right;
    right: 52px;
    top: -96px;
  }
  .footer .footer_flexbox .flexbox_container-personal {
    position: relative;
    top: -129px;
    left: 160px;
  }
  .footer .footer_flexbox .flexbox_container-help {
    position: relative;
    top: -308px;
    left: -20px;
  }
  .footer .footer_flexbox .flexbox_logo {
    position: relative;
    left: 115px;
    top: -32px;
    grid-template-areas: "a";
    width: 100%;
  }
}
.footer .footer_flexbox .flexbox_logo {
  margin-top: 27px;
  width: 112px;
  height: 112px;
}
@media (max-width: 600px) {
  .footer .footer_flexbox .flexbox_logo {
    width: 70px;
    height: 71.29px;
  }
}
.footer .footer_flexbox .flexbox_container .container_label {
  font-family: "RobotoReg";
  color: #292D32;
  font-size: 25px;
  margin-bottom: 11px;
}
@media (max-width: 1250px) {
  .footer .footer_flexbox .flexbox_container .container_label {
    font-size: 18px;
  }
}
.footer .footer_flexbox .flexbox_container .container_paragraph {
  font-family: "RobotoLight";
  color: #292D32;
  font-size: 16px;
  line-height: 0.9;
}
@media (max-width: 1250px) {
  .footer .footer_flexbox .flexbox_container .container_paragraph {
    font-size: 15px;
  }
}
.footer .footer_flexbox .flexbox_container-katalog {
  margin-left: 10px;
}
.footer .footer_flexbox .flexbox_container-katalog .container_paragraph-dell {
  margin-top: -5px;
}
.footer .footer_image {
  position: absolute;
  z-index: 0;
  top: 133px;
  right: 0;
}
.footer .footer_flexbox-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27.5px;
  border-top: #E5E5E5 1px solid;
  width: 1330px;
  margin-left: calc(50% - 696px);
}
@media (max-width: 1420px) {
  .footer .footer_flexbox-bottom {
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: 1240px) {
  .footer .footer_flexbox-bottom {
    display: block;
    text-align: left;
  }
}
@media (max-width: 600px) {
  .footer .footer_flexbox-bottom {
    position: relative;
    top: -160px;
    right: 50px;
  }
}
.footer .footer_flexbox-bottom .flexbox_text .text_paragraph-label {
  font-size: 16px;
  font-family: "RobotoReg";
  color: #838383;
}
.footer .footer_flexbox-bottom .flexbox_text .text_paragraph-info {
  font-size: 18px;
  font-family: "RobotoReg";
  color: #292D32;
}
@media (max-width: 600px) {
  .footer .footer_flexbox-bottom .flexbox_text .text_paragraph-info {
    position: relative;
    top: -13px;
    font-size: 15px;
    width: 400px;
  }
}
.footer .footer_flexbox-bottom .flexbox_text-adress {
  margin-left: -30px;
}
@media (max-width: 1240px) {
  .footer .footer_flexbox-bottom .flexbox_text-adress {
    margin-left: 0px;
  }
}
.footer .footer_flexbox-bottom .flexbox_text-phone {
  margin-left: 0px;
}
@media (max-width: 600px) {
  .footer .footer_flexbox-bottom .flexbox_text-phone {
    position: relative;
    top: -6px;
    font-size: 15px;
    width: 400px;
  }
}
.footer .footer_flexbox-bottom .flexbox_text-email {
  margin-top: -13px;
  margin-left: 0px;
}
.footer .footer_flexbox-bottom .flexbox_icons {
  margin-right: -40px;
}
@media (max-width: 600px) {
  .footer .footer_flexbox-bottom .flexbox_icons {
    position: relative;
    top: 5px;
    left: 14px;
  }
  .footer .footer_flexbox-bottom .flexbox_icons .icons_image {
    width: 30px;
  }
  .footer .footer_flexbox-bottom .flexbox_icons .icons_first {
    position: relative;
    right: 12px;
  }
}
.footer .footer_flexbox-bottom .flexbox_icons .icons_first {
  margin-right: 15px;
}

.main_article-katalog {
  padding: 160px 0px 180px 0px;
  height: 782px;
  margin-left: calc(50% - 700px);
  width: calc(100% - (50% - 660px));
  display: grid;
  gap: 20px 40px;
  grid-template-columns: repeat(3, 440px);
}
@media (max-width: 1500px) {
  .main_article-katalog {
    grid-template-columns: repeat(2, 440px);
    margin-left: calc(50% - 440px);
    height: 1082px;
  }
}
@media (max-width: 940px) {
  .main_article-katalog {
    grid-template-columns: repeat(1, 440px);
    margin-left: calc(50% - 220px);
    height: 2210px;
  }
}
@media (max-width: 500px) {
  .main_article-katalog {
    padding-top: 120px;
    padding-left: 47px;
    height: 1710px;
    gap: 15px 40px;
  }
}
.main_article-katalog .katalog_section-text {
  width: 440px;
  height: 371px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-text {
    width: 345px;
    height: 275px;
  }
}
.main_article-katalog .katalog_section-text .section_label {
  font-size: 50px;
  font-family: "RobotoReg";
  color: #292D32;
  line-height: 1;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-text .section_label {
    line-height: 1.2;
    width: 100px;
    font-size: 30px;
  }
  .main_article-katalog .katalog_section-text .section_label .katalog_disable {
    display: none;
  }
  .main_article-katalog .katalog_section-text .section_label .katalog_enable {
    display: block;
  }
}
.main_article-katalog .katalog_section-text .section_paragraph {
  line-height: 1.5;
  margin-top: 35px;
  font-size: 18px;
  font-family: "RobotoLight";
  color: #838383;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-text .section_paragraph {
    margin-top: 20px;
    font-size: 15px;
  }
  .main_article-katalog .katalog_section-text .section_paragraph .katalog_disable {
    display: none;
  }
  .main_article-katalog .katalog_section-text .section_paragraph .katalog_enable {
    display: block;
  }
}
.main_article-katalog .katalog_section-text .section_button {
  margin-top: 28px;
}
.main_article-katalog .katalog_section-text .button_katalog {
  margin-top: 44px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-text .button_katalog {
    margin-top: 26px;
  }
  .main_article-katalog .katalog_section-text .button_katalog .button_image {
    width: 45px;
    height: 45px;
  }
}
.main_article-katalog .katalog_section-text .button_katalog .button_label {
  margin-left: 12px;
  letter-spacing: 0.7px;
}
.main_article-katalog .katalog_section-item {
  position: relative;
  background-color: #F2F2F2;
  width: 440px;
  height: 371px;
  border-radius: 20px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item {
    width: 345px;
    height: 290.9px;
    top: -35px;
  }
}
.main_article-katalog .katalog_section-item .item_counter {
  font-family: "RobotoThin";
  font-size: 25px;
  color: #292D32;
  padding-top: 23px;
  padding-left: 40px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item .item_counter {
    font-size: 20px;
    padding-top: 2px;
    padding-left: 20px;
  }
}
.main_article-katalog .katalog_section-item .item_image {
  position: absolute;
}
.main_article-katalog .katalog_section-item .item_image-notepad {
  top: -5px;
  left: 15px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item .item_image-notepad {
    width: 302px;
    height: 178px;
  }
}
.main_article-katalog .katalog_section-item .item_image-computer {
  top: -17px;
  left: 112px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item .item_image-computer {
    width: 210px;
    height: 193px;
    top: 10px;
    left: 100px;
  }
}
.main_article-katalog .katalog_section-item .item_image-disk {
  top: 93px;
  left: 52px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item .item_image-disk {
    width: 264.24px;
    height: 107.42px;
    top: 60px;
    left: 40px;
  }
}
.main_article-katalog .katalog_section-item .item_image-dell {
  top: 72px;
  left: 75px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item .item_image-dell {
    width: 226.24px;
    height: 124.67px;
    top: 45px;
    left: 60px;
  }
}
.main_article-katalog .katalog_section-item .item_image-parts {
  top: 50px;
  left: 87px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item .item_image-parts {
    width: 253.26px;
    height: 167.01px;
    top: 30px;
    left: 68px;
  }
}
.main_article-katalog .katalog_section-item .item_paragraph {
  font-family: "RobotoLight";
  font-size: 18px;
  color: #838383;
  margin-top: 195px;
  margin-left: 40px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item .item_paragraph {
    font-size: 15px;
    margin-top: 159px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
}
.main_article-katalog .katalog_section-item .item_label {
  font-size: 25px;
  font-family: "RobotoReg";
  color: #292D32;
  margin-left: 40px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item .item_label {
    font-size: 20px;
    margin-left: 20px;
  }
}
.main_article-katalog .katalog_section-item-first .item_paragraph {
  margin-top: 190px;
}
.main_article-katalog .katalog_section-item-first .item_label {
  position: relative;
  top: -5px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item-first {
    height: 275px;
  }
  .main_article-katalog .katalog_section-item-first .item_paragraph {
    margin-top: 158px;
  }
  .main_article-katalog .katalog_section-item-first .item_label {
    position: relative;
    top: 2px;
  }
  .main_article-katalog .katalog_section-item-first .item_image-notepad {
    top: 12px;
    left: 20px;
  }
}
.main_article-katalog .katalog_section-item-second .item_paragraph {
  margin-top: 195px;
}
.main_article-katalog .katalog_section-item-second .item_label {
  position: relative;
  top: -10px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item-second {
    top: -32px;
  }
  .main_article-katalog .katalog_section-item-second .item_label {
    position: relative;
    top: 6px;
  }
  .main_article-katalog .katalog_section-item-second .item_paragraph {
    margin-top: 173px;
  }
}
.main_article-katalog .katalog_section-item-third .item_counter {
  position: relative;
  top: 10px;
}
.main_article-katalog .katalog_section-item-third .item_paragraph {
  margin-top: 200px;
}
.main_article-katalog .katalog_section-item-third .item_label {
  position: relative;
  top: -5px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item-third {
    width: 345px;
    height: 275px;
    top: -27px;
  }
  .main_article-katalog .katalog_section-item-third .item_counter {
    position: relative;
    top: 0px;
  }
  .main_article-katalog .katalog_section-item-third .item_paragraph {
    margin-top: 200px;
  }
  .main_article-katalog .katalog_section-item-third .item_label {
    position: relative;
    top: 0px;
  }
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item-third .item_paragraph {
    margin-top: 175px;
  }
}
.main_article-katalog .katalog_section-item-fourth .item_counter {
  position: relative;
  top: 10px;
}
.main_article-katalog .katalog_section-item-fourth .item_paragraph {
  margin-top: 200px;
}
.main_article-katalog .katalog_section-item-fourth .item_label {
  position: relative;
  top: -5px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item-fourth {
    top: -7px;
  }
  .main_article-katalog .katalog_section-item-fourth .item_counter {
    position: relative;
    top: 0px;
  }
  .main_article-katalog .katalog_section-item-fourth .item_paragraph {
    margin-top: 178px;
    font-size: 18px;
  }
  .main_article-katalog .katalog_section-item-fourth .item_label {
    position: relative;
    top: 4px;
  }
}
.main_article-katalog .katalog_section-item-fifth .item_counter {
  position: relative;
  top: 10px;
}
.main_article-katalog .katalog_section-item-fifth .item_paragraph {
  margin-top: 200px;
}
.main_article-katalog .katalog_section-item-fifth .item_label {
  position: relative;
  top: -5px;
}
@media (max-width: 500px) {
  .main_article-katalog .katalog_section-item-fifth {
    width: 345px;
    height: 275px;
    top: 0px;
  }
  .main_article-katalog .katalog_section-item-fifth .item_counter {
    position: relative;
    top: 0px;
  }
  .main_article-katalog .katalog_section-item-fifth .item_paragraph {
    margin-top: 170px;
  }
  .main_article-katalog .katalog_section-item-fifth .item_label {
    position: relative;
    top: 8px;
  }
}

.main_article-news {
  margin-left: calc(50% - 700px);
  padding-top: 177px;
  height: 1155px;
}
@media (max-width: 1400px) {
  .main_article-news {
    height: 1580px;
  }
}
@media (max-width: 950px) {
  .main_article-news {
    height: 2680px;
  }
}
@media (max-width: 750px) {
  .main_article-news {
    height: 1220px;
    padding-top: 185px;
  }
}
.main_article-news .news_text .text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  .main_article-news .news_text .text_container {
    width: 50%;
    margin-left: 340px;
  }
}
@media (max-width: 800px) {
  .main_article-news .news_text .text_container {
    display: block;
    width: 100%;
  }
}
@media (max-width: 730px) {
  .main_article-news .news_text .text_container {
    display: block;
    width: 70%;
    margin-top: -114px;
    margin-left: 527px;
  }
}
.main_article-news .news_text .text_container .text_label {
  font-family: "RobotoReg";
  font-size: 50px;
  color: #292D32;
}
@media (max-width: 1400px) {
  .main_article-news .news_text .text_container .text_label {
    font-size: 30px;
  }
}
@media (max-width: 730px) {
  .main_article-news .news_text .text_container .text_label {
    display: block;
    width: 70%;
    margin-top: 48px;
  }
}
.main_article-news .news_text .text_container .button_container {
  display: flex;
  align-items: center;
  margin-right: 260px;
  margin-top: 5px;
}
.main_article-news .news_text .text_container .button_container .button_label--left {
  display: block;
}
.main_article-news .news_text .text_container .button_container .button_label--right {
  display: none;
}
@media (max-width: 1400px) {
  .main_article-news .news_text .text_container .button_container {
    margin-right: 0;
  }
}
@media (max-width: 730px) {
  .main_article-news .news_text .text_container .button_container {
    position: relative;
    width: 70%;
    margin-top: 112px;
    margin-left: 1px;
  }
  .main_article-news .news_text .text_container .button_container .button_image {
    width: 45px;
    height: 45px;
  }
  .main_article-news .news_text .text_container .button_container .button_label--left {
    display: none;
  }
  .main_article-news .news_text .text_container .button_container .button_label--right {
    display: block;
  }
}
.main_article-news .news_text .text_container .button_container .button_label {
  margin-left: 16px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #292D32;
  line-height: 1.8;
  letter-spacing: 0.4px;
}
.main_article-news .news_text .text_paragraph {
  font-family: "RobotoLight";
  font-size: 18px;
  color: #838383;
  margin-top: 20px;
  line-height: 1.5;
}
@media (max-width: 1400px) {
  .main_article-news .news_text .text_paragraph {
    font-size: 15px;
    margin-left: 340px;
  }
}
@media (max-width: 730px) {
  .main_article-news .news_text .text_paragraph {
    display: block;
    width: 70%;
    margin-top: -150px;
    margin-left: 527px;
    line-height: 1.5;
  }
  .main_article-news .news_text .text_paragraph .news_disable {
    display: block;
  }
  .main_article-news .news_text .text_paragraph .news_enable {
    display: none;
  }
}
.main_article-news .news_container {
  padding: 50px 0px 180px 0px;
  height: 782px;
  width: 100%;
  display: grid;
  gap: 0px 40px;
  grid-template-columns: repeat(3, 440px);
}
@media (max-width: 1400px) {
  .main_article-news .news_container {
    grid-template-columns: repeat(2, 440px);
    width: calc(100% - (50% - 340px));
    margin-left: calc(50% - 340px);
  }
}
@media (max-width: 950px) {
  .main_article-news .news_container {
    grid-template-columns: repeat(1, 440px);
    margin-left: calc(50% - 40px);
  }
}
@media (max-width: 740px) {
  .main_article-news .news_container {
    margin-left: 527px;
    margin-top: 63px;
    display: none;
  }
}
.main_article-news .news_container .container_item {
  width: 415px;
  height: 405px;
  position: relative;
}
@media (max-width: 740px) {
  .main_article-news .news_container .container_item {
    height: 315px;
  }
}
.main_article-news .news_container .container_item .item_image-top {
  border-radius: 45px 0;
}
@media (max-width: 740px) {
  .main_article-news .news_container .container_item .item_image-top {
    width: 324px;
    height: 179px;
  }
}
.main_article-news .news_container .container_item .item_image-bottom {
  position: relative;
  bottom: 45px;
}
@media (max-width: 740px) {
  .main_article-news .news_container .container_item .item_image-bottom {
    position: relative;
    bottom: 65px;
    z-index: 10;
    width: 324px;
    height: 180px;
  }
}
.main_article-news .news_container .container_item .item_button {
  position: absolute;
  top: 235px;
  left: 308px;
}
@media (max-width: 740px) {
  .main_article-news .news_container .container_item .item_button {
    z-index: 12;
    width: 77.2px;
    height: 50.18px;
    top: 162px;
    left: 235px;
  }
}
.main_article-news .news_container .container_item .item_button:hover {
  cursor: pointer;
  scale: 1.2;
}
.main_article-news .news_container .container_item .item_text {
  position: absolute;
  top: 245px;
  left: 30px;
}
@media (max-width: 740px) {
  .main_article-news .news_container .container_item .item_text {
    z-index: 13;
    top: 168px;
    left: 20px;
    line-height: 1.1;
  }
}
.main_article-news .news_container .container_item .item_text .text_label {
  font-family: "RobotoBold";
  font-size: 25px;
  color: #292D32;
}
.main_article-news .news_container .container_item .item_text .text_paragraph {
  font-family: "RobotoReg";
  font-size: 14px;
  color: #292D32;
}
@media (max-width: 740px) {
  .main_article-news .news_container .container_item .item_text .text_paragraph {
    margin-top: 10px;
  }
  .main_article-news .news_container .container_item .item_text .text_paragraph .news_disable {
    display: block;
  }
}
.main_article-news .news_container .container_item .item_container-data {
  position: absolute;
  right: -25px;
  top: 65px;
  width: 50px;
  height: 97px;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  line-height: 1.05;
}
@media (max-width: 740px) {
  .main_article-news .news_container .container_item .item_container-data {
    width: 39.2px;
    height: 76.6px;
    right: 70px;
    top: 55px;
    line-height: 0.4;
  }
}
.main_article-news .news_container .container_item .item_container-data .data_text {
  font-family: "RobotoBlack";
  color: #292D32;
}
.main_article-news .news_container .container_item .item_container-data .data_text-top {
  font-size: 20px;
}
.main_article-news .news_container .container_item .item_container-data .data_text-bottom {
  font-size: 10px;
  font-family: "RobotoReg";
}
.main_article-news .news_container-small {
  display: none;
}
@media (max-width: 740px) {
  .main_article-news .news_container-small {
    margin-left: 527px;
    margin-top: 94px;
    width: 100%;
    display: grid;
    gap: 0px 40px;
  }
}
.main_article-news .news_container-small .container_item {
  width: 415px;
  height: 293px;
  position: relative;
  margin-top: 20px;
}
.main_article-news .news_container-small .container_item .item_image-top {
  border-radius: 45px 0;
}
.main_article-news .news_container-small .container_item .item_image-bottom {
  position: relative;
  bottom: 45px;
}
.main_article-news .news_container-small .container_item .item_button {
  position: absolute;
  z-index: 12;
  width: 82px;
  height: 56px;
  top: 160px;
  left: 234px;
}
.main_article-news .news_container-small .container_item .item_button:hover {
  cursor: pointer;
  scale: 1.2;
}
.main_article-news .news_container-small .container_item .item_text {
  position: absolute;
  z-index: 13;
  top: 173px;
  left: 20px;
  line-height: 1;
}
.main_article-news .news_container-small .container_item .item_text .text_label {
  font-family: "RobotoBold";
  font-size: 25px;
  color: #292D32;
}
.main_article-news .news_container-small .container_item .item_text .text_paragraph {
  font-family: "RobotoReg";
  font-size: 14px;
  color: #292D32;
  line-height: 1.5;
}
@media (max-width: 740px) {
  .main_article-news .news_container-small .container_item .item_text .text_paragraph {
    margin-top: 10px;
  }
  .main_article-news .news_container-small .container_item .item_text .text_paragraph .news_disable {
    display: block;
  }
}
.main_article-news .news_container-small .container_item .item_container-data {
  position: absolute;
  right: -25px;
  top: 63.5px;
  width: 50px;
  height: 97px;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  line-height: 1.05;
}
@media (max-width: 740px) {
  .main_article-news .news_container-small .container_item .item_container-data {
    width: 39.2px;
    height: 76.6px;
    right: 70px;
    top: 55px;
    line-height: 0.4;
  }
}
.main_article-news .news_container-small .container_item .item_container-data .data_text {
  font-family: "RobotoBlack";
  color: #292D32;
}
.main_article-news .news_container-small .container_item .item_container-data .data_text-top {
  margin-top: 23px;
  font-size: 20px;
}
.main_article-news .news_container-small .container_item .item_container-data .data_text-bottom {
  margin-top: -8px;
  font-size: 15px;
  font-family: "RobotoReg";
}

.main_contacts-container {
  height: 1022px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .main_contacts-container {
    height: 1181px;
  }
}
.main_contacts-container .container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
}
.main_contacts-container .main_contacts {
  display: flex;
  position: absolute;
  left: calc(50% - 700px);
  top: 0;
  height: 742px;
  z-index: 10;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts {
    display: block;
    left: calc(50% - 322px);
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts {
    left: -72px;
  }
  .main_contacts-container .main_contacts .contact_disable {
    display: block;
  }
  .main_contacts-container .main_contacts .contact_enable {
    display: none;
  }
}
.main_contacts-container .main_contacts .contacts_container-left {
  width: 435px;
  padding: 97px 165px 0 100px;
  height: 748px;
  background-color: #F9F9F9;
  border-radius: 18px 0px 0px 18px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left {
    padding-top: 101px;
    height: 522px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-left {
    padding-top: 101px;
    height: 516px;
    width: 375px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .container_label {
  font-family: "RobotoReg";
  font-size: 50px;
  color: #292D32;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left .container_label {
    font-size: 30px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .container_paragraph {
  margin-top: 10px;
  font-family: "RobotoLight";
  font-size: 16px;
  color: #838383;
  letter-spacing: 0.1px;
  line-height: 1.9;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left .container_paragraph {
    font-size: 15px;
    margin-top: 18px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-left .container_paragraph {
    margin-top: 25px;
    line-height: 1.5;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container {
  display: flex;
  align-items: flex-start;
  margin-top: 26px;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_image {
  margin-top: 7px;
  margin-right: 21px;
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_image {
    margin-top: 0px;
    margin-right: 15px;
    width: 18px;
    height: 18px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_text {
  line-height: 1;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_text .container_label {
  font-family: "RobotoLight";
  font-size: 18px;
  color: #838383;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_text .container_label {
    font-size: 15px;
    margin-top: 0px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_text .container_paragraph {
  font-family: "RobotoLight";
  font-size: 22px;
  color: #292D32;
  margin-top: 0px;
  line-height: 1.1;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_text .container_paragraph {
    font-size: 18px;
    margin-top: 0px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_image-icon {
  margin-right: 18.29px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container .container_image-icon {
    width: 18.75px;
    height: 18.75px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-first {
  margin-top: 34px;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-first .container_text {
  margin-left: -3px;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-first .container_text .container_paragraph {
  line-height: 1.5;
  margin-top: -7px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-first {
    margin-top: 40px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-second {
  margin-top: 17px;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-second .container_text {
  margin-top: -5px;
  margin-left: -1px;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-second .container_text .container_paragraph {
  line-height: 1.5;
  margin-top: -7px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-second {
    margin-top: 15px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-second {
    margin-top: 10px;
  }
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-second .container_text {
    margin-top: 0px;
    margin-left: -4px;
  }
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-second .container_text .container_paragraph {
    line-height: 1.2;
    margin-top: -7px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-third {
  margin-top: 43px;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-third .container_text {
  margin-top: -2px;
  margin-left: -1px;
  line-height: 0.9;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-third .container_text .container_label {
  font-family: "RobotoLight";
  font-size: 18px;
  color: #838383;
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-third .container_text .container_paragraph {
  font-family: "RobotoLight";
  font-size: 22px;
  color: #292D32;
  margin-top: 0px;
  line-height: 1.4;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-third {
    margin-top: 40px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-third {
    margin-top: 10px;
  }
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-third .container_text {
    margin-top: 2px;
    margin-left: -4px;
  }
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-third .container_text .container_label {
    font-size: 16px;
  }
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-third .container_text .container_paragraph {
    font-size: 18px;
    line-height: 1.5;
    margin-top: -7px;
  }
}
.main_contacts-container .main_contacts .contacts_container-left .contacts_container-fourth {
  margin-top: 36px;
  margin-left: 3px;
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-fourth {
    margin-top: 9px;
    margin-left: 0px;
  }
  .main_contacts-container .main_contacts .contacts_container-left .contacts_container-fourth .container_image-icon {
    width: 26px;
    height: 26px;
  }
}
.main_contacts-container .main_contacts .contacts_container-rigth {
  width: 444px;
  padding: 0 129px 0 126px;
  padding-top: 95px;
  height: 748px;
  background-color: #292D32;
  border-radius: 0px 18px 18px 0;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-rigth {
    padding-top: 60px;
    height: 498px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-rigth {
    width: 375px;
  }
}
.main_contacts-container .main_contacts .contacts_container-rigth .container_form {
  margin-top: 66px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form {
    margin-top: 50px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form {
    margin-left: -25px;
  }
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form .formRow_input {
    width: 310px;
    border-radius: 10px;
  }
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form .formRow_placeholder {
    font-size: 15px;
  }
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form .comment_input {
    height: 50px;
    width: 285px;
  }
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form .contact_button {
    margin-top: -22px;
    margin-left: 1px;
  }
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form .contact_button .button_image {
    width: 45px;
    height: 45px;
  }
}
.main_contacts-container .main_contacts .contacts_container-rigth .container_form .formRow {
  margin-bottom: 50.75px;
}
.main_contacts-container .main_contacts .contacts_container-rigth .container_form .formRow-name .formRow_placeholder {
  top: -8px;
  left: 13px;
}
.main_contacts-container .main_contacts .contacts_container-rigth .container_form .formRow-number .formRow_placeholder {
  top: -9px;
  left: 17px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form .formRow-number {
    margin-top: -13px;
  }
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .container_form .formRow_comment {
    margin-top: -13px;
    height: 80px;
  }
}
.main_contacts-container .main_contacts .contacts_container-rigth .container_label {
  font-family: "RobotoReg";
  font-size: 50px;
  color: #FFFFFF;
  margin-left: 3px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .container_label {
    font-size: 30px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .container_label {
    margin-left: -24px;
  }
}
.main_contacts-container .main_contacts .contacts_container-rigth .container_paragraph {
  font-family: "RobotoLight";
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  margin-left: 3px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .container_paragraph {
    font-size: 15px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .container_paragraph {
    margin-left: -25px;
    letter-spacing: 0.2px;
  }
}
.main_contacts-container .main_contacts .contacts_container-rigth .container_formRow .formRow_input {
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}
.main_contacts-container .main_contacts .contacts_container-rigth .contact_button {
  margin-left: 2px;
  margin-top: 0px;
}
.main_contacts-container .main_contacts .contacts_container-rigth .contact_button .button_label {
  color: #fff;
  margin-left: 13px;
  letter-spacing: 1.5px;
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_container-rigth .contact_button .button_label {
    margin-left: 15px;
    letter-spacing: 1.4px;
  }
}
.main_contacts-container .main_contacts .contacts_image {
  position: absolute;
  left: 492px;
  top: 142px;
}
@media (max-width: 1400px) {
  .main_contacts-container .main_contacts .contacts_image {
    left: 450px;
    top: 400px;
    z-index: 10;
    height: 258.24px;
    width: 179.29px;
  }
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_image {
    display: none;
    left: 280px;
    top: 400px;
    z-index: 10;
    height: 258.24px;
    width: 179.29px;
  }
}
.main_contacts-container .main_contacts .contacts_image-mini {
  display: none;
}
@media (max-width: 620px) {
  .main_contacts-container .main_contacts .contacts_image-mini {
    position: absolute;
    display: block;
    left: 248px;
    top: 405px;
    z-index: 10;
    height: 258.24px;
    width: 179.29px;
  }
}
.main_contacts-container .main_section {
  height: 676px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, #EEEEEE, #EEEEEE), linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(.jpg);
}
.main_contacts-container .main_section .section_image {
  position: absolute;
  top: 184px;
  left: 0;
}

.main_article-slider {
  height: 683px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1600px) {
  .main_article-slider {
    height: 789px;
  }
}
.main_article-slider .slider {
  position: relative;
  display: flex;
  width: 500%;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.main_article-slider .slider .slide {
  width: 100%;
  position: relative;
}
.main_article-slider .slider .slide .slider_container-left {
  background-color: #F2F2F2;
  width: calc(100% - 509px);
  height: 684px;
  float: left;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-left {
    width: 100%;
    height: 593px;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_image {
  position: absolute;
  top: 75px;
  left: 260px;
  z-index: 0;
}
@media (max-width: 1850px) {
  .main_article-slider .slider .slide .slider_container-left .slider_image {
    left: 0px;
  }
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-left .slider_image {
    width: 850px;
  }
}
@media (max-width: 1000px) {
  .main_article-slider .slider .slide .slider_container-left .slider_image {
    width: 700px;
  }
}
@media (max-width: 700px) {
  .main_article-slider .slider .slide .slider_container-left .slider_image {
    display: none;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_image-small {
  display: none;
}
@media (max-width: 700px) {
  .main_article-slider .slider .slide .slider_container-left .slider_image-small {
    display: block;
    position: absolute;
    top: 17px;
    left: 22px;
    z-index: 0;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_text {
  margin-top: 253px;
  margin-left: 390px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1850px) {
  .main_article-slider .slider .slide .slider_container-left .slider_text {
    margin-left: 200px;
  }
}
@media (max-width: 1000px) {
  .main_article-slider .slider .slide .slider_container-left .slider_text {
    margin-top: 230px;
    margin-left: 40px;
  }
}
@media (max-width: 700px) {
  .main_article-slider .slider .slide .slider_container-left .slider_text {
    margin-top: 80px;
    margin-left: 15px;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_text .text_label {
  font-family: "RobotoLight";
  color: #838383;
  font-size: 18px;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-left .slider_text .text_label {
    font-size: 15px;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_text .text_paragraph {
  margin-top: 15px;
  font-family: "RobotoReg";
  color: #292D32;
  font-size: 50px;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-left .slider_text .text_paragraph {
    margin-top: -10px;
    font-size: 30px;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_text .slider_button-left {
  margin-top: 57px;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-left .slider_text .slider_button-left {
    margin-top: -5px;
    font-size: 30px;
  }
  .main_article-slider .slider .slide .slider_container-left .slider_text .slider_button-left .button_image {
    width: 45px;
    height: 45px;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_text .slider_button-left .button_label {
  margin-left: 11px;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-left .slider_text .slider_button-left .button_label {
    margin-left: 14px;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_container-scroll {
  position: absolute;
  top: 357px;
  left: 245px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1850px) {
  .main_article-slider .slider .slide .slider_container-left .slider_container-scroll {
    left: 40px;
  }
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-left .slider_container-scroll {
    display: none;
  }
}
.main_article-slider .slider .slide .slider_container-left .slider_container-scroll .container_text-label {
  margin-bottom: 16.5px;
  writing-mode: vertical-lr;
  transform: scale(-1);
  font-size: 16px;
  font-family: "RobotoLight";
  color: #838383;
}
.main_article-slider .slider .slide .slider_container-left .slider_container-scroll .container_image {
  width: 25px;
  height: 38.5px;
}
.main_article-slider .slider .slide .slider_container-right {
  position: relative;
  background-color: #F9F9F9;
  width: 509px;
  height: 684px;
  float: right;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-right {
    width: 100%;
    height: 196px;
  }
}
.main_article-slider .slider .slide .slider_container-right .slider_text-right {
  position: relative;
  top: 298px;
  left: 38px;
  font-family: "RobotoReg";
  font-size: 25px;
  color: #292D32;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-right .slider_text-right {
    top: 42px;
    left: 140px;
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .main_article-slider .slider .slide .slider_container-right .slider_text-right {
    top: 42px;
    left: 14px;
    font-size: 20px;
  }
}
.main_article-slider .slider .slide .slider_container-right .container_image {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-right .container_image {
    display: none;
  }
}
.main_article-slider .slider .slide .slider_container-right .container_image-small {
  display: none;
}
@media (max-width: 1600px) {
  .main_article-slider .slider .slide .slider_container-right .container_image-small {
    display: block;
    position: absolute;
    right: 150px;
    top: 15px;
  }
}
@media (max-width: 700px) {
  .main_article-slider .slider .slide .slider_container-right .container_image-small {
    display: block;
    position: absolute;
    right: 5px;
    top: 15px;
  }
}
.main_article-slider .slider .slide .slider_container-right .container_button {
  position: relative;
  top: 380px;
  left: 40px;
}
.main_article-slider .slider_button {
  position: absolute;
  top: 500px;
  right: 363px;
  z-index: 10;
}
@media (max-width: 1600px) {
  .main_article-slider .slider_button {
    width: 64px;
    height: 14px;
    right: 70px;
    top: 560px;
  }
}
@media (max-width: 1000px) {
  .main_article-slider .slider_button {
    width: 64px;
    height: 14px;
    right: 15px;
    top: 560px;
  }
}
.main_article-slider .slider_button:hover {
  cursor: pointer;
}
.main_article-slider .slider_counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 500px;
  right: 544px;
}
@media (max-width: 1600px) {
  .main_article-slider .slider_counter {
    right: 200px;
    top: 558px;
  }
}
@media (max-width: 1000px) {
  .main_article-slider .slider_counter {
    right: 113.5px;
    top: 558px;
  }
}
.main_article-slider .slider_counter .point {
  margin: 5px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #D0D0D0;
}
@media (max-width: 1600px) {
  .main_article-slider .slider_counter .point {
    width: 3px;
    height: 3px;
  }
}
.main_article-slider .slider_counter .pointActive {
  margin: 5px;
  width: 9px;
  height: 9px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #292D32;
}
@media (max-width: 1000px) {
  .main_article-slider .slider_counter .pointActive {
    width: 5px;
    height: 5px;
  }
}

.main_article-advantages {
  background-color: #F2F2F2;
  width: 100%;
  height: 962px;
}
@media (max-width: 1400px) {
  .main_article-advantages {
    height: 1400px;
  }
}
@media (max-width: 750px) {
  .main_article-advantages {
    padding-top: 0px;
    position: relative;
    top: -5px;
    height: 1545px;
  }
}
.main_article-advantages .advantages_label {
  position: relative;
  height: 579px;
}
.main_article-advantages .advantages_label .label_container-left {
  float: left;
}
.main_article-advantages .advantages_label .label_container-left .label_image--text {
  position: absolute;
  top: 90px;
  left: 5px;
}
@media (max-width: 1850px) {
  .main_article-advantages .advantages_label .label_container-left .label_image--text {
    left: 0;
  }
}
@media (max-width: 1400px) {
  .main_article-advantages .advantages_label .label_container-left .label_image--text {
    width: 585px;
    height: 272px;
    top: 170px;
  }
}
@media (max-width: 1000px) {
  .main_article-advantages .advantages_label .label_container-left .label_image--text {
    top: 0px;
  }
}
@media (max-width: 600px) {
  .main_article-advantages .advantages_label .label_container-left .label_image--text {
    width: 407px;
    height: 211px;
    top: 287px;
    left: 10px;
    z-index: 0;
  }
}
.main_article-advantages .advantages_label .label_container-right {
  float: right;
  margin-top: 183px;
  margin-right: 415px;
}
@media (max-width: 1850px) {
  .main_article-advantages .advantages_label .label_container-right {
    margin-right: 20px;
  }
}
@media (max-width: 1000px) {
  .main_article-advantages .advantages_label .label_container-right {
    margin-top: 283px;
  }
}
@media (max-width: 600px) {
  .main_article-advantages .advantages_label .label_container-right {
    margin-top: 114px;
    margin-left: 15px;
  }
}
.main_article-advantages .advantages_label .label_container-right .container_label {
  font-size: 50px;
  font-family: "RobotoReg";
  color: #292D32;
}
@media (max-width: 1500px) {
  .main_article-advantages .advantages_label .label_container-right .container_label {
    font-size: 30px;
  }
}
.main_article-advantages .advantages_label .label_container-right .container_text {
  margin-right: 32px;
  margin-top: 35px;
  font-size: 18px;
  font-family: "RobotoReg";
  color: #838383;
  line-height: 1.4;
}
@media (max-width: 1500px) {
  .main_article-advantages .advantages_label .label_container-right .container_text {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .main_article-advantages .advantages_label .label_container-right .container_text {
    margin-top: 29px;
  }
  .main_article-advantages .advantages_label .label_container-right .container_text .advantages_disable {
    display: none;
  }
  .main_article-advantages .advantages_label .label_container-right .container_text .advantages_enable {
    display: block;
  }
}
.main_article-advantages .advantages_label .label_container-right .container_button {
  margin-top: 45px;
  margin-left: 3px;
}
@media (max-width: 600px) {
  .main_article-advantages .advantages_label .label_container-right .container_button {
    margin-top: 30px;
    margin-left: 1px;
  }
  .main_article-advantages .advantages_label .label_container-right .container_button .button_image {
    width: 45px;
    height: 45px;
    z-index: 10;
  }
}
.main_article-advantages .advantages_label .label_container-right .container_button .button_label-advantages {
  margin-left: 13px;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 0.6px;
}
.main_article-advantages .advanages_container {
  display: flex;
  margin-top: 51px;
  margin-left: calc(50% - 727px);
}
@media (max-width: 1400px) {
  .main_article-advantages .advanages_container {
    margin-left: calc(50% - 360px);
    flex-wrap: wrap;
    width: 700px;
  }
}
@media (max-width: 750px) {
  .main_article-advantages .advanages_container {
    display: flex;
    flex-direction: column;
    margin-top: -65px;
    margin-left: calc(50% - 172.5px);
  }
}
@media (max-width: 450px) {
  .main_article-advantages .advanages_container {
    margin-left: 4px;
  }
}
.main_article-advantages .advanages_container .container_item {
  margin-left: 27px;
  background-color: #292D32;
  width: 270px;
  height: 229px;
  border-radius: 18px;
  position: relative;
  padding: 30px;
}
@media (max-width: 1400px) {
  .main_article-advantages .advanages_container .container_item {
    margin: 10px;
  }
}
@media (max-width: 750px) {
  .main_article-advantages .advanages_container .container_item {
    height: 151px;
    border-radius: 10px;
    width: 285px;
  }
}
.main_article-advantages .advanages_container .container_item .item_image {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 750px) {
  .main_article-advantages .advanages_container .container_item .item_image {
    height: 70px;
    width: 180px;
    right: -35px;
    top: 0;
  }
}
.main_article-advantages .advanages_container .container_item .item_image-container {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-color: #343A41;
  padding: 17px;
  margin-bottom: 25px;
}
@media (max-width: 750px) {
  .main_article-advantages .advanages_container .container_item .item_image-container {
    position: relative;
    top: -15px;
    left: -14px;
    height: 16px;
    width: 16px;
    padding: 17px;
  }
  .main_article-advantages .advanages_container .container_item .item_image-container .container_image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
  }
}
.main_article-advantages .advanages_container .container_item .item_label {
  color: #FFFFFF;
  font-family: "EuclidBolt";
  font-size: 22px;
  width: 380px;
}
@media (max-width: 750px) {
  .main_article-advantages .advanages_container .container_item .item_label {
    position: relative;
    top: -25px;
    left: -15px;
    font-size: 18px;
  }
  .main_article-advantages .advanages_container .container_item .item_label .advantages_disable {
    display: none;
  }
}
.main_article-advantages .advanages_container .container_item .item_paragraph {
  color: #B7B7B7;
  font-family: "EuclidLight";
  font-size: 16px;
  margin-top: 13px;
}
@media (max-width: 750px) {
  .main_article-advantages .advanages_container .container_item .item_paragraph {
    position: relative;
    top: -28px;
    left: -15px;
    font-size: 16px;
  }
  .main_article-advantages .advanages_container .container_item .item_paragraph .advantages_enable {
    display: none;
  }
}
.main_article-advantages .advanages_container .container_item .item_paragraph-third {
  margin-top: -10px;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

.katalog_enable,
.advantages_enable,
.news_disable,
.item_image-bottom-mini,
.contact_disable {
  display: none;
}/*# sourceMappingURL=style.css.map */