.main_article-news {
    margin-left: calc(50% - 700px);
    padding-top: 177px;
    height: 1155px;

    .news_text {
        .text_container {
            display: flex;
            justify-content: space-between;
            align-items: center;



            .text_label {
                font-family: 'RobotoReg';
                font-size: 50px;
                color: #292D32;


            }

            .button_container {
                display: flex;
                align-items: center;
                margin-right: 260px;
                margin-top: 5px;

                .button_label--left {
                    display: block;
                }

                .button_label--right {
                    display: none;
                }

                .button_label {
                    margin-left: 16px;
                    font-family: 'Roboto-Regular';
                    font-size: 16px;
                    color: #292D32;
                    line-height: 1.8;
                    letter-spacing: 0.4px;
                }
            }
        }

        .text_paragraph {
            font-family: 'RobotoLight';
            font-size: 18px;
            color: #838383;
            margin-top: 20px;
            line-height: 1.5;


        }
    }

    .news_container {
        padding: 50px 0px 180px 0px;
        height: 782px;
        width: 100%;
        display: grid;
        gap: 0px 40px;
        grid-template-columns: repeat(3, 440px);


        .container_item {
            width: 415px;
            height: 405px;
            position: relative;


            .item_image-top {
                border-radius: 45px 0;

            }

            .item_image-bottom {
                position: relative;
                bottom: 45px;

            }

            .item_button {
                position: absolute;
                top: 235px;
                left: 308px;

                &:hover {
                    cursor: pointer;
                    scale: 1.2;
                }
            }

            .item_text {
                position: absolute;
                top: 245px;
                left: 30px;


                .text_label {
                    font-family: 'RobotoBold';
                    font-size: 25px;
                    color: #292D32;
                }

                .text_paragraph {
                    font-family: 'RobotoReg';
                    font-size: 14px;
                    color: #292D32;

                }
            }

            .item_container-data {
                position: absolute;
                right: -25px;
                top: 65px;
                width: 50px;
                height: 97px;
                border-radius: 15px;
                background-color: #fff;
                text-align: center;
                line-height: 1.05;


                .data_text {
                    font-family: 'RobotoBlack';
                    color: #292D32;
                }

                .data_text-top {
                    font-size: 20px;
                }

                .data_text-bottom {
                    font-size: 10px;
                    font-family: 'RobotoReg';
                }
            }
        }
    }

    .news_container-small {
        display: none;

        .container_item {
            width: 415px;
            height: 293px;
            position: relative;
            margin-top: 20px;

            .item_image-top {
                border-radius: 45px 0;
            }

            .item_image-bottom {
                position: relative;
                bottom: 45px;
            }

            .item_button {
                position: absolute;
                z-index: 12;
                width: 82px;
                height: 56px;
                top: 160px;
                left: 234px;

                &:hover {
                    cursor: pointer;
                    scale: 1.2;
                }
            }

            .item_text {
                position: absolute;
                z-index: 13;
                top: 173px;
                left: 20px;
                line-height: 1;

                .text_label {
                    font-family: 'RobotoBold';
                    font-size: 25px;
                    color: #292D32;
                }

                .text_paragraph {
                    font-family: 'RobotoReg';
                    font-size: 14px;
                    color: #292D32;
                    line-height: 1.5;
                }
            }

            .item_container-data {
                position: absolute;
                right: -25px;
                top: 63.5px;
                width: 50px;
                height: 97px;
                border-radius: 15px;
                background-color: #fff;
                text-align: center;
                line-height: 1.05;

                .data_text {
                    font-family: 'RobotoBlack';
                    color: #292D32;
                }

                .data_text-top {
                    margin-top: 23px;
                    font-size: 20px;
                }

                .data_text-bottom {
                    margin-top: -8px;
                    font-size: 15px;
                    font-family: 'RobotoReg';
                }
            }
        }
    }
}

/*adaptive*/
.main_article-news {
    @media (max-width: 1400px) {
        height: 1580px;
    }

    @media (max-width: 950px) {
        height: 2680px;
    }

    @media (max-width: 750px) {
        height: 1220px;
        padding-top: 185px;
    }

    .news_text {
        .text_container {
            @media (max-width: 1400px) {
                width: 50%;
                margin-left: 340px;
            }

            @media (max-width: 800px) {
                display: block;
                width: 100%;
            }

            @media (max-width: 730px) {
                display: block;
                width: 70%;
                margin-top: -114px;
                margin-left: 527px;
            }

            .text_label {
                @media (max-width: 1400px) {
                    font-size: 30px;
                }

                @media (max-width: 730px) {
                    display: block;
                    width: 70%;
                    margin-top: 48px;
                }

            }

            .button_container {
                @media (max-width: 1400px) {
                    margin-right: 0;
                }

                @media (max-width: 730px) {
                    position: relative;
                    width: 70%;
                    margin-top: 112px;
                    margin-left: 1px;

                    .button_image {
                        width: 45px;
                        height: 45px;
                    }

                    .button_label--left {
                        display: none;
                    }

                    .button_label--right {
                        display: block;
                    }
                }
            }
        }

        .text_paragraph {
            @media (max-width: 1400px) {
                font-size: 15px;
                margin-left: 340px;
            }

            @media (max-width: 730px) {
                display: block;
                width: 70%;
                margin-top: -150px;
                margin-left: 527px;
                line-height: 1.5;

                .news_disable {
                    display: block;
                }

                .news_enable {
                    display: none;
                }
            }
        }
    }

    .news_container {
        @media (max-width: 1400px) {
            grid-template-columns: repeat(2, 440px);
            width: calc(100% - calc(50% - 340px));
            margin-left: calc(50% - 340px);
        }

        @media (max-width: 950px) {
            grid-template-columns: repeat(1, 440px);
            margin-left: calc(50% - 40px);
        }

        @media (max-width: 740px) {
            margin-left: 527px;
            margin-top: 63px;
            display: none;
        }

        .container_item {
            @media (max-width: 740px) {
                height: 315px;
            }


            @media (max-width: 740px) {
                width: 324px;
                height: 179px;
            }

            .item_image-bottom {
                @media (max-width: 740px) {
                    position: relative;
                    bottom: 65px;
                    z-index: 10;
                    width: 324px;
                    height: 180px;
                }
            }

            .item_button {
                @media (max-width: 740px) {
                    z-index: 12;
                    width: 77.2px;
                    height: 50.18px;
                    top: 162px;
                    left: 235px;
                }
            }

            .item_text {
                @media (max-width: 740px) {
                    z-index: 13;
                    top: 168px;
                    left: 20px;
                    line-height: 1.1;
                }

                .text_paragraph {
                    @media (max-width: 740px) {
                        margin-top: 10px;

                        .news_disable {
                            display: block;
                        }
                    }
                }
            }

            .item_container-data {
                @media (max-width: 740px) {
                    width: 39.2px;
                    height: 76.6px;
                    right: 70px;
                    top: 55px;
                    line-height: 0.4;

                }
            }
        }
    }

    .news_container-small {
        @media (max-width: 740px) {
            margin-left: 527px;
            margin-top: 94px;
            width: 100%;
            display: grid;
            gap: 0px 40px;
        }

        .container_item {
            @media (max-width: 740px) {
                margin-top: 10px;

                .news_disable {
                    display: block;
                }
            }

            .item_container-data {
                @media (max-width: 740px) {
                    width: 39.2px;
                    height: 76.6px;
                    right: 70px;
                    top: 55px;
                    line-height: 0.4;

                }
            }
        }
    }
}